ion-content {
  --ion-background-color: #ffffff;
}

ion-card {
  --ion-background-color: #f9f9f9;
  margin-bottom: 16px;
}

ion-card-header {
  background-color: var(--ion-color-dark);
  color: #fff;
}

ion-card-title {
  font-size: 1.2em;
  color: white;
}

ion-card-content ul {
  list-style-type: none;
  padding: 0;
}

ion-card-content li {
  padding: 8px 0;
}

ion-item {
  --ion-background-color: transparent;
  margin-bottom: 8px;
}

ion-button {
  --background: var(--ion-color-secondary);
  --color: #fff;
  margin-top: 16px;
}

ion-avatar img {
  border-radius: 50%;
}

@media (max-width: 767px) {
  ion-card-content {
    padding: 16px;
  }

  ion-item {
    flex-direction: column;
    align-items: flex-start;
  }

  ion-label {
    margin-top: 8px;
  }

  ion-button {
    width: 100%;
  }
}
