<div class="ion-page" id="main-content">
  <ion-buttons slot="start">
    <ion-back-button defaultHref="/"></ion-back-button>
    <ion-title></ion-title>
  </ion-buttons>
  <ion-content class="ion-padding">
    <div class="main-img">
      <img src="/assets/logo.png" alt="travel">
    </div>
    <form>
      <ion-input label="Nome" label-placement="floating" fill="outline" placeholder="Digite seu nome"></ion-input>
      <br>
      <ion-input label="Email" label-placement="floating" fill="outline" placeholder="Digite seu email"></ion-input>
      <br>
      <ion-input label="Senha" type="password" label-placement="floating" fill="outline" placeholder="Digite sua senha"></ion-input>
      <br>
      <ion-input label="Confirme sua senha" type="password" label-placement="floating" fill="outline" placeholder="Confirme sua senha"></ion-input>
      <br>
    </form>
    <div  class="ion-text-center" id="make-account">
      <a href="/login">Já possui uma conta? <strong>Faça o login!</strong></a>
      <ion-button color="dark" expand="block" shape="round">Registrar</ion-button>
    </div>
  </ion-content>
</div>
