// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

/*Color*/
$mainColor: #1abc9c;
$secondaryColor: #f39c12;
$background: #ffffff;
$secondaryBg: #ecf0f1;
$primaryText: #2c3e50;
$secondaryText: #7f8c8d;
$alert: #e74c3c;

.barCustom {
  background-color: $mainColor;
}
