<ion-content class="ion-padding">
  <div class="img">
    <img src="/assets/logo.png" alt="main-logo">
  </div>
  <div id="main-title">
    <h1>Welcome to</h1>
    <h1>Travel!</h1>
  </div>
  <div id="main-text">
    <p>O "travel" é um aplicativo destinado a ajudar os viajantes a planejar e aproveitar ao máximo suas viagens. Ele oferece funcionalidades como planejamento de itinerários, reservas de voos e hotéis, recomendações de destinos, guias turísticos, e muito mais.</p>
  </div>
  <div id="buttons">
    <ion-button color="dark" expand="block" shape="round" (click)="entrar()">Entrar</ion-button>
    <ion-button color="medium" expand="block" shape="round" (click)="criarConta()">Criar Conta</ion-button>
  </div>
</ion-content>
