@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#main-title {
  text-align: center;
}

#main-title h1 {
  font-size: 40px;
  font-family: 'Dosis';
  font-weight: bold;
}

#main-text {
  text-align: center;
  font-family: 'Dosis';
}

#buttons {
  display: flex;
  flex-direction: column;

}

@media (max-width: 767px) {
  ion-content {
    flex-direction: column;
    align-items: flex-start;
  }
}

ion-button {
  margin-top: 20px;
  height: 50px;

}
